# Database
DATABASE_URL="postgresql://notifuser:notifpass@localhost:5432/notification_db?schema=public"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Application
PORT=3000
NODE_ENV=development

# SMTP Configuration (pour l'envoi d'emails)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASSWORD=password
SMTP_FROM="No Reply <noreply@example.com>"

# Email Formatting Configuration
EMAIL_LOCALE=fr-FR
EMAIL_TIMEZONE=Africa/Tunis

# SendPulse Configuration (optional)
SENDPULSE_ACCESS_TOKEN=your-sendpulse-access-token
